%h2 Missing information? - Please help!

:markdown
  As this webpage is in an very early development stage, many information are simply not visible yet. (But could already be present in the database :P)

  We would be very happy if you care to help.  
  If you know some piece of information which is not yet visible but you think that it should be, please get in touch with us!

  You can use our [BugTracker](http://dev.gaming-base.net/ "BugTracker"), open a thread in the #{link_to "forums", forum.topics_path} or send an email to _webmaster *at* gaming-base.net_   
  If possible, please attach some screenshots or other material describing the missing information to make it easier for us to find and extract it.

  For example, if there is a quest type which is not displayed correctly:  
  Send us the quest name, the correct quest type and if possible other quests with the same type (so we know they need to be the same) or with other types (to filter them out).

  **Thanks!**