%div[news]{:class=>:partial}
  %span.published= l news.published, :format=>:short
  %span.title
    - if news.game && !@game
      %span.game [#{news.game}]
    = news.url?? link_to_blank(news.title, news.url) : link_to(news.title, news)