.box
  .title Latest Gaming-Base news
  .news.gaming_base
    - @news[:gaming_base].each do |news|
      = render :partial=>"/news/news", :locals => { :news => news }
    - if @news[:gaming_base].empty?
      No entries found

.box
  .title Latest game news
  .news.gaming_base
    - @news[:games].each do |news|
      = render :partial=>"/news/news", :locals => { :news => news }
    - if @news[:games].empty?
      No entries found



