// Background color
$darkblue: #19456e;

// content background color
$blue: #2a6295;

// Headline(Topic) background color
$lightblue: #346ea5;

// headlines, hilights
$yellow: #E8D032;

// general text and headlines 3+
$white: #FFFFFF;

$leftmenuwidth: 165px;
$red: #ac0d0d;